---
import BaseLayout from "../layouts/BaseLayout.astro";
import StarsBackground from "../components/StarsBackground.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout>
  <StarsBackground />
  <Nav />
  <main>
    <Hero />
  </main>
</BaseLayout>
